(
    move_left:  Some(( code: Char('h'), modifiers: "")),
    move_right: Some(( code: Char('l'), modifiers: "")),
    move_up:    Some(( code: Char('k'), modifiers: "")),
    move_down:  Some(( code: Char('j'), modifiers: "")),

    stash_open:  Some(( code: Char('l'), modifiers: "")),
    open_help:   Some(( code: Char('?'), modifiers: "")),

    status_reset_item: Some(( code: Char('U'), modifiers: "SHIFT")),

    edit_file: Some(( code: Char('e'), modifiers: "")),

    page_down: Some(( code: Char('d'), modifiers: "CONTROL")),
    page_up:   Some(( code: Char('u'), modifiers: "CONTROL")),

    home: Some(( code: Char('g'), modifiers: "")),
    end:  Some(( code: Char('G'), modifiers: "SHIFT")),

    tab_status:    Some(( code: Char('1'), modifiers: "")),
    tab_log:       Some(( code: Char('2'), modifiers: "")),
    tab_files:     Some(( code: Char('3'), modifiers: "")),
    tab_stashing:  Some(( code: Char('4'), modifiers: "")),
    tab_stashes:   Some(( code: Char('5'), modifiers: "")),
)

