(
    selected_tab: Some("#7aa2f7"),
    command_fg: Some("#c0caf5"),
    selection_bg: Some("#292e42"),
    selection_fg: Some("#c0caf5"),
    cmdbar_bg: Some("#1a1b26"),
    cmdbar_extra_lines_bg: Some("#1a1b26"),
    disabled_fg: Some("#565f89"),
    diff_line_add: Some("#9ece6a"),
    diff_line_delete: Some("#f7768e"),
    diff_file_added: Some("#9ece6a"),
    diff_file_removed: Some("#f7768e"),
    diff_file_moved: Some("#e0af68"),
    diff_file_modified: Some("#7aa2f7"),
    commit_hash: Some("#bb9af7"),
    commit_time: Some("#565f89"),
    commit_author: Some("#9ece6a"),
    danger_fg: Some("#f7768e"),
    push_gauge_bg: Some("#9ece6a"),
    push_gauge_fg: Some("#1a1b26"),
    tag_fg: Some("#e0af68"),
    branch_fg: Some("#bb9af7"),
)


